#### Import required packages

In [43]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

#### Import movies dataset
<u>Column Meaning:</u><br>
<i>0 - Movie ID<br>
1 - Name<br>
2 - Genres</i>

In [44]:
movies = pd.read_csv('ml-1m/movies.dat', sep='::', header = None, engine = 'python', encoding = 'latin-1')
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

#### Import users dataset
<u>Column Meaning:</u><br>
<i>0 - User ID<br>
1 - Gender<br>
2 - Age<br>
3 - Job<br>
4 - Zip Code</i>

In [45]:
users = pd.read_csv('ml-1m/users.dat', sep='::', header = None, engine = 'python', encoding = 'latin-1')
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

#### Import ratings dataset
<u>Column Meaning:</u><br>
<i>0 - User ID<br>
1 - Movie ID<br>
2 - Ratings (1-5)<br>
3 - Timestamp when movie was rated</i>

In [46]:
ratings = pd.read_csv('ml-1m/ratings.dat', sep='::', header = None, engine = 'python', encoding = 'latin-1')
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

#### Import training set of 80,000 movie ratings and convert to Numpy array
<u>Column Meaning:</u><br>
<i>0 - User ID<br>
1 - Movie ID<br>
2 - Ratings (1-5)<br>
3 - Timestamp when movie was rated</i>

In [47]:
training_set = pd.read_csv('ml-100k/u1.base', header = None, sep = '\t')
training_set = np.array(training_set, dtype=int)
training_set

array([[        1,         1,         5, 874965758],
       [        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

#### Import test set of 20,000 movie ratings and convert to Numpy array
<u>Column Meaning:</u><br>
<i>0 - User ID<br>
1 - Movie ID<br>
2 - Ratings (1-5)<br>
3 - Timestamp when movie was rated</i>

In [48]:
test_set = pd.read_csv('ml-100k/u1.test', header = None, sep = '\t')
test_set = np.array(test_set, dtype=int)
test_set

array([[        1,         6,         5, 887431973],
       [        1,        10,         3, 875693118],
       [        1,        12,         5, 878542960],
       ...,
       [      459,       934,         3, 879563639],
       [      460,        10,         3, 882912371],
       [      462,       682,         5, 886365231]])

#### Get the max user ID

In [49]:
num_users = int(max(max(training_set[:, 0]), max(test_set[:,0])))
num_users

943

#### Get the max movie ID

In [50]:
num_movies = int(max(max(training_set[:, 1]), max(test_set[:,1])))
num_movies

1682

#### Create a function that will convert the data into an array with users in lines and movies in columns

In [51]:
def convert(data):
    new_data = []
    for user_id in range(1, num_users + 1):
        movie_ids = data[:,1][data[:, 0] == user_id]
        rating_ids = data[:,2][data[:, 0] == user_id]
        ratings = np.zeros(num_movies)
        # Movie IDs start at 1 so we need to subtract 1 to get to base 0 index
        ratings[movie_ids - 1] = rating_ids
        new_data.append(list(ratings))
    return new_data

In [52]:
training_set = convert(training_set)

In [53]:
test_set = convert(test_set)

#### Converting data into Torch tensor

In [54]:
training_set = torch.FloatTensor(training_set)

In [55]:
test_set = torch.FloatTensor(test_set)

#### Creating the AutoEncoder Neural Network Architecture

In [59]:
class SAE(nn.Module): # Stacked AutoEncoder
    def __init__(self, ):
        super(SAE, self).__init__()
        self.full_connection_1 = nn.Linear(num_movies, 20) # 20 nodes in the hidden layer as a suggested start
        self.full_connection_2 = nn.Linear(20, 10) # 10 nodes in the hidden layer as a suggested start
        self.full_connection_3 = nn.Linear(10, 20) # Back to 20
        self.full_connection_4 = nn.Linear(20, num_movies) # Final output equals input
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.full_connection_1(x))
        x = self.activation(self.full_connection_2(x))
        x = self.activation(self.full_connection_3(x))
        x = self.full_connection_4(x)
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5) # Suggested starting lr and decay

#### Training the Stacked AutoEncoder (SAE)

In [63]:
num_epoch = 200
for epoch in range(1, num_epoch + 1):
    train_loss = 0
    s = 0.
    for user_id in range(num_users):
        input = Variable(training_set[user_id]).unsqueeze(0) # Create a batch of one input vector for network
        target = input.clone()
        if torch.sum(target.data > 0) > 0: # If user has rated at least one movie
            output = sae.forward(input)
            target.require_grad = False
            output[target == 0] = 0 # Do not consider predictions associated with movies not rated by user
            loss = criterion(output, target)
            mean_corrector = num_movies / float(torch.sum(target.data > 0) + 1e-10) # + 1e-10 ensures not nill
            loss.backward()
            train_loss += np.sqrt(loss.item() * mean_corrector)
            s += 1.
            optimizer.step()
    print(f'Epoch: {epoch} | Loss: {train_loss/s}')

Epoch: 1 | Loss: 1.754145405461985
Epoch: 2 | Loss: 1.0961239210418803
Epoch: 3 | Loss: 1.0531994729339058
Epoch: 4 | Loss: 1.0384326912746784
Epoch: 5 | Loss: 1.0308131209823361
Epoch: 6 | Loss: 1.026386139312528
Epoch: 7 | Loss: 1.0239515538903534
Epoch: 8 | Loss: 1.022095336474183
Epoch: 9 | Loss: 1.020839908773494
Epoch: 10 | Loss: 1.0196636013724063
Epoch: 11 | Loss: 1.0188403061037414
Epoch: 12 | Loss: 1.0183335186371987
Epoch: 13 | Loss: 1.0177876538700805
Epoch: 14 | Loss: 1.017539947266548
Epoch: 15 | Loss: 1.0172330076105958
Epoch: 16 | Loss: 1.0168428794263185
Epoch: 17 | Loss: 1.0168010939153058
Epoch: 18 | Loss: 1.01643085927196
Epoch: 19 | Loss: 1.0164553985697642
Epoch: 20 | Loss: 1.0162027819578983
Epoch: 21 | Loss: 1.0160199570508042
Epoch: 22 | Loss: 1.0161279160662082
Epoch: 23 | Loss: 1.015790571071349
Epoch: 24 | Loss: 1.0160429333633154
Epoch: 25 | Loss: 1.0156670608048928
Epoch: 26 | Loss: 1.0156500887632944
Epoch: 27 | Loss: 1.0151048898159605
Epoch: 28 | Loss: 1.0150991400643419
Epoch: 29 | Loss: 1.0128708220996852
Epoch: 30 | Loss: 1.0117141561105454
Epoch: 31 | Loss: 1.010976148893184
Epoch: 32 | Loss: 1.0076048128360322
Epoch: 33 | Loss: 1.0078136926067571
Epoch: 34 | Loss: 1.0043153929603787
Epoch: 35 | Loss: 1.0020195629568618
Epoch: 36 | Loss: 0.9988175472403709
Epoch: 37 | Loss: 0.9982010107933402
Epoch: 38 | Loss: 0.9948995781346036
Epoch: 39 | Loss: 0.9963958664784571
Epoch: 40 | Loss: 0.9932336865005799
Epoch: 41 | Loss: 0.9902283401542804
Epoch: 42 | Loss: 0.986144927544098
Epoch: 43 | Loss: 0.9883377512385205
Epoch: 44 | Loss: 0.9826722465436815
Epoch: 45 | Loss: 0.9831028743472869
Epoch: 46 | Loss: 0.9778669543725753
Epoch: 47 | Loss: 0.9788552584811668
Epoch: 48 | Loss: 0.9752982388055932
Epoch: 49 | Loss: 0.974989675318659
Epoch: 50 | Loss: 0.96900383947675
Epoch: 51 | Loss: 0.9746857745810948
Epoch: 52 | Loss: 0.9705055333214211
Epoch: 53 | Loss: 0.9705645258613895
Epoch: 54 | Loss: 0.9689958758851153
Epoch: 55 | Loss: 0.9650860757938755
Epoch: 56 | Loss: 0.9716509468055761
Epoch: 57 | Loss: 0.9647301459762887
Epoch: 58 | Loss: 0.9599586581037735
Epoch: 59 | Loss: 0.9617113800518459
Epoch: 60 | Loss: 0.9608516638735215
Epoch: 61 | Loss: 0.9588325309700426
Epoch: 62 | Loss: 0.9568296845243658
Epoch: 63 | Loss: 0.9559611594251025
Epoch: 64 | Loss: 0.9540308889144049
Epoch: 65 | Loss: 0.9539638666919252
Epoch: 66 | Loss: 0.9558985300169481
Epoch: 67 | Loss: 0.9593721226508253
Epoch: 68 | Loss: 0.9599567560156794
Epoch: 69 | Loss: 0.9550686725046116
Epoch: 70 | Loss: 0.9528013274644401
Epoch: 71 | Loss: 0.9505300608940035
Epoch: 72 | Loss: 0.9481980822818358
Epoch: 73 | Loss: 0.9488778267788657
Epoch: 74 | Loss: 0.9469447744322593
Epoch: 75 | Loss: 0.9477137150021001
Epoch: 76 | Loss: 0.9453784320841478
Epoch: 77 | Loss: 0.948824564819353
Epoch: 78 | Loss: 0.9437318333314095
Epoch: 79 | Loss: 0.9438796926362646
Epoch: 80 | Loss: 0.9430183621846888
Epoch: 81 | Loss: 0.9426212954680208
Epoch: 82 | Loss: 0.9404369454562996
Epoch: 83 | Loss: 0.9426527684867338
Epoch: 84 | Loss: 0.939308194914564
Epoch: 85 | Loss: 0.9402795831191056
Epoch: 86 | Loss: 0.9381284094183843
Epoch: 87 | Loss: 0.938219586506015
Epoch: 88 | Loss: 0.9372261905073329
Epoch: 89 | Loss: 0.9370468365247957
Epoch: 90 | Loss: 0.9364201503361632
Epoch: 91 | Loss: 0.9364457204570641
Epoch: 92 | Loss: 0.934710058323734
Epoch: 93 | Loss: 0.9352950702756103
Epoch: 94 | Loss: 0.9334690310534813
Epoch: 95 | Loss: 0.9341683365901063
Epoch: 96 | Loss: 0.9325362510039384
Epoch: 97 | Loss: 0.9334093603073853
Epoch: 98 | Loss: 0.9318291257585735
Epoch: 99 | Loss: 0.9328080080833211
Epoch: 100 | Loss: 0.9310391841620878
Epoch: 101 | Loss: 0.9312474160651378
Epoch: 102 | Loss: 0.9299769152297432
Epoch: 103 | Loss: 0.9310362303721722
Epoch: 104 | Loss: 0.929244358096938
Epoch: 105 | Loss: 0.9297885853435489
Epoch: 106 | Loss: 0.9282016882847447
Epoch: 107 | Loss: 0.9287087676236718
Epoch: 108 | Loss: 0.9272236599074681
Epoch: 109 | Loss: 0.9281794700148853
Epoch: 110 | Loss: 0.9265221372110195
Epoch: 111 | Loss: 0.9275518385083492
Epoch: 112 | Loss: 0.9260073511831403
Epoch: 113 | Loss: 0.9266768261260575
Epoch: 114 | Loss: 0.9250591650703566
Epoch: 115 | Loss: 0.9261928045642449
Epoch: 116 | Loss: 0.924430039922934
Epoch: 117 | Loss: 0.9253999310357588
Epoch: 118 | Loss: 0.9238420783274636
Epoch: 119 | Loss: 0.9244299935741116
Epoch: 120 | Loss: 0.9232142401322528
Epoch: 121 | Loss: 0.9242300331574688
Epoch: 122 | Loss: 0.9228558963070228
Epoch: 123 | Loss: 0.9235530804558587
Epoch: 124 | Loss: 0.922328900226164
Epoch: 125 | Loss: 0.9233363999969499
Epoch: 126 | Loss: 0.9216834375039018
Epoch: 127 | Loss: 0.9226502723539216
Epoch: 128 | Loss: 0.9208938720881785
Epoch: 129 | Loss: 0.9215064913547928
Epoch: 130 | Loss: 0.9204665812384096
Epoch: 131 | Loss: 0.921545524290957
Epoch: 132 | Loss: 0.9200352567628333
Epoch: 133 | Loss: 0.920993198378664
Epoch: 134 | Loss: 0.9194882560574238
Epoch: 135 | Loss: 0.9202812778007937
Epoch: 136 | Loss: 0.9191111701047954
Epoch: 137 | Loss: 0.9201673377966175
Epoch: 138 | Loss: 0.9189553570682077
Epoch: 139 | Loss: 0.919864258512897
Epoch: 140 | Loss: 0.9185760324672884
Epoch: 141 | Loss: 0.919157271200835
Epoch: 142 | Loss: 0.9179645996780255
Epoch: 143 | Loss: 0.9185299768447575
Epoch: 144 | Loss: 0.9177660585306942
Epoch: 145 | Loss: 0.918600974728904
Epoch: 146 | Loss: 0.9175461817004641
Epoch: 147 | Loss: 0.9182516868666597
Epoch: 148 | Loss: 0.9170713569898865
Epoch: 149 | Loss: 0.9176852797510728
Epoch: 150 | Loss: 0.9165552264548339
Epoch: 151 | Loss: 0.917128196954814
Epoch: 152 | Loss: 0.9164475707881196
Epoch: 153 | Loss: 0.9169612516131501
Epoch: 154 | Loss: 0.9161292482973219
Epoch: 155 | Loss: 0.9168062571005245
Epoch: 156 | Loss: 0.9158387256695251
Epoch: 157 | Loss: 0.9165906816614705
Epoch: 158 | Loss: 0.915591059390978
Epoch: 159 | Loss: 0.916306483356234
Epoch: 160 | Loss: 0.9149884821817301
Epoch: 161 | Loss: 0.9156136771526444
Epoch: 162 | Loss: 0.9146848803263683
Epoch: 163 | Loss: 0.9154443910031584
Epoch: 164 | Loss: 0.9142609779266606
Epoch: 165 | Loss: 0.914935504140944
Epoch: 166 | Loss: 0.9139716084790123
Epoch: 167 | Loss: 0.9141685370936428
Epoch: 168 | Loss: 0.9137721092991532
Epoch: 169 | Loss: 0.914344526783487
Epoch: 170 | Loss: 0.9137220806694587
Epoch: 171 | Loss: 0.9139944072162614
Epoch: 172 | Loss: 0.9131775919139558
Epoch: 173 | Loss: 0.9133450094780059
Epoch: 174 | Loss: 0.9128588163343613
Epoch: 175 | Loss: 0.9133822688256942
Epoch: 176 | Loss: 0.9130793148000493
Epoch: 177 | Loss: 0.9133810993377092
Epoch: 178 | Loss: 0.9125304134336726
Epoch: 179 | Loss: 0.9128408548992529
Epoch: 180 | Loss: 0.9122505094090395
Epoch: 181 | Loss: 0.9123201166863556
Epoch: 182 | Loss: 0.912053332711251
Epoch: 183 | Loss: 0.912483495681611
Epoch: 184 | Loss: 0.911825250020062
Epoch: 185 | Loss: 0.9121202614606105
Epoch: 186 | Loss: 0.9114129607214339
Epoch: 187 | Loss: 0.9114799431628212
Epoch: 188 | Loss: 0.9109949183502252
Epoch: 189 | Loss: 0.911701502900651
Epoch: 190 | Loss: 0.9112367233889381
Epoch: 191 | Loss: 0.9113215067974257
Epoch: 192 | Loss: 0.910997161101921
Epoch: 193 | Loss: 0.910939030986366
Epoch: 194 | Loss: 0.9106488228206829
Epoch: 195 | Loss: 0.9107051101427572
Epoch: 196 | Loss: 0.9103048318254408
Epoch: 197 | Loss: 0.91050317258481
Epoch: 198 | Loss: 0.9100504230061581
Epoch: 199 | Loss: 0.9102720648804848
Epoch: 200 | Loss: 0.909823208433828

#### Testing the Stacked AutoEncoder (SAE)

In [65]:
test_loss = 0
s = 0.
for user_id in range(num_users):
    input = Variable(training_set[user_id]).unsqueeze(0) # Create a batch of one input vector for network
    target = Variable(test_set[user_id])
    if torch.sum(target.data > 0) > 0: # If user has rated at least one movie
        output = sae.forward(input)
        target.require_grad = False
        output[target.view(1,-1) == 0] = 0 # Do not consider predictions associated with movies not rated by user
        loss = criterion(output, target)
        mean_corrector = num_movies / float(torch.sum(target.data > 0) + 1e-10) # + 1e-10 ensures not nill
        test_loss += np.sqrt(loss.item() * mean_corrector)
        s += 1.
print(f'Test Loss: {test_loss/s}')

Test Loss: 0.9498977348314491